<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet"
        href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <link rel="stylesheet" href="/welcome.css">

    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.2.3/howler.min.js"
        integrity="sha512-6+YN/9o9BWrk6wSfGxQGpt3EUK6XeHi6yeHV+TYD2GR0Sj/cggRpXr1BrAQf0as6XslxomMUxXp2vIl+fv0QRA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <title>Welcome to AR MUSIC</title>
</head>

<body>
    <section class="menu container mx-auto py-8">
        <div class="container mx-auto md:px-8 px-6 flex items-center justify-between">
            <h1 class="text-6xl md:text-8xl text-red-200 font-bold">Welcome to AR JS MUSIC</h1>
            <a href="/music">
                <button class="btn-primary px-6 py-2 rounded-full text-red-200 font-bold mt-4">PLAY</button>
            </a>
        </div>
        <div class="container m-20 grid md:grid-cols-2 lg:grid-cols-4 gap-20">
            <div class="container flex-col items-center space-y-20">
                <img width="250px" id="drums" src="/assets/drums.png">
                <img width="250px" id="marker0" src="/assets/marker0.png">
            </div>
            <div class="container flex-col items-center space-y-20">
                <img width="250px" id="drums" src="/assets/guitar.png">
                <img width="250px" id="marker0" src="/assets/marker1.png">
            </div>
            <div class="container flex-col items-center space-y-20">
                <img width="250px" id="drums" src="/assets/mic.png">
                <img width="250px" id="marker0" src="/assets/marker2.png">
            </div>
            <div class="container flex-col items-center space-y-20">
                <img width="250px" id="drums" src="/assets/piano.png">
                <img width="250px" id="marker0" src="/assets/marker3.png">
            </div>
        </div>

        <div class="container m-20 px-20 flex-col items-center justify-between">
            <h3 class="text-xl text-red-200 font-bold">Download Markers</h3>
            <a class="text-6xl text-red-200 font-bold" href="/assets/Markers_0-4.pdf"><i class="las la-file-download"></i></a>
        </div>
        <di
    </section>
    <script>
        var song = new Howl({
            src: ['/audio/song.mp3']
        });
        window.onload = function () {
            song.play()
        }
    </script>
</body>

</html>