*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --gradient: linear-gradient(60deg, #ee6352, purple, #ee6352);
    --btn-gradient: linear-gradient(300deg, #ee6352, purple, #ee6352);
}
  
body {
    min-height: 100vh;
    background-size: 300%;
    background-image: var(--gradient);
    animation: bg-animation 15s infinite alternate;
}

.btn-primary{
    background-image: var(--btn-gradient);
    animation: bg-animation 15s infinite alternate;
    border: 2px solid;
    background-size: 300%;
    transition: all .3s ease-in-out;
}
.btn-primary:hover{
    background-image: var(--gradient);
}

@keyframes bg-animation {
    0% {background-position: left}
    50% {background-position: right}
    100% {background-position: left}
}